@import "tailwindcss";

body {
  background: white;
  color: #171717;
  margin: 0;
  padding: 0;
}

@layer base {
  button, [role="button"] {
    cursor: pointer;
  }
}

@import '../styles/_variables.scss';
@import '../styles/_keyframe-animations.scss';


.ql-font-maven-pro {
  font-family: 'Maven Pro', sans-serif !important;
  font-optical-sizing: auto !important;
  font-weight: 400 !important;
  font-style: normal !important;
}

.simple-editor.ProseMirror p:not(:first-child) {
  margin-top: 10px !important;
  line-height: 1.4 !important;
}

.simple-editor.tiptap.ProseMirror h1 {
  font-size: 1.5em;
  font-weight: 700;
  margin-top: 1.5rem;
}
.simple-editor.tiptap.ProseMirror h2 {
  font-size: 1.25em;
  font-weight: 600;
  margin-top: 1.25rem;
}
.simple-editor.tiptap.ProseMirror h3 {
  font-size: 1.125em;
  font-weight: 500;
  margin-top: 1.125rem;
}

.highlight {
  background-color: #c9ffe8; /* Yellow highlight */
  border-radius: 3px;
}

/* Add this anywhere in your global styles */
@keyframes progressBarSlide {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.progress-bar {
  animation: progressBarSlide 1.8s ease-in-out infinite;
  width: 100%;
}
